body{
    padding-top:57px    
}
/* Start nav Bar */
.navbar-light .navbar-nav .nav-link.active {
    background-color: #000;
    color: #ccc;
}
/* End Nav Bar */
/* Start fixed menu */
.fixed_menu{
    background-color: #333;
    padding: 10px 0;
    color: #fff;
    width: 300px;
    height: 100vh;
    position:fixed;
    z-index:9999;
    left:-300px;
    top: 0;
}.fixed_menu span{
    background-color: #333;
    position: absolute;
    z-index: 999;
    right: -50px;
    top: 58px;
    display: block;
    width: 50px;
    height: 50px;
    font-size: 29px;
    text-align: center;
    line-height: 47px;
    border-radius: 0 10px 10px 0;
    cursor:pointer
}.fixed_menu svg{
    padding: 5px;
}.fixed_menu ul li{
    padding: 12px;
    margin: 11px 0;
    font-size: 27px;
    background-color: #333;
    cursor:pointer;
}.fixed_menu>ul>li:hover{
    transition:all .6s ease-in-out;
    background-color: red;
}
/* Start fixed menu */
/* Gallery_iamge */
.Gallery_iamge{
    max-width: 100%;
    overflow: hidden;
    text-align: center;
}.Gallery_iamge>.master_img{
    height:712px;
    position:relative
}.Gallery_iamge>.master_img .fa-chevron-left,
.Gallery_iamge>.master_img .fa-chevron-right{
    background-color: red;
    padding: 10px;
    width: 39px;
    height: 40px;
    border-radius: 5px;
    color: #fff;
    position:absolute;
    top:50%;
    cursor: pointer;
    opacity:.8;
    z-index:2
}.Gallery_iamge>.master_img .fa-chevron-left{
    left:0;
}.Gallery_iamge>.master_img .fa-chevron-right{
    right:0
}.Gallery_iamge>.master_img>img{
    width:100%;
}.Gallery_iamge .thumbnails_img{
    overflow:hidden;
    text-align:left;
    
}.Gallery_iamge .thumbnails_img img{
    border: 2px solid #5e5e5e;
    cursor:pointer;
    opacity:.6;
}.Gallery_iamge .thumbnails_img img.active{
    border: 2px solid #8a3535;
    opacity:1
}.clear-fix{
    clear:both
}
/* Gallery_iamge */
/* products */
.products{

}.products .card-text{
    display:none
}.products span {
    cursor:pointer;
    margin:5px;
    display:block
}
/* End products */
/* Start list_view */
.change_vieo{
    padding-bottom: 20px;
}.change_vieo .active{
    color:red
}.change_vieo span{
    cursor: pointer;;
    font-size:22px;
    margin:10px
}
.items{
    margin-top:100px
}.items.list_view .items_card{
    width: 22%;
    display:inline-block;
}.items.list_view .items_card:not(:first-child){
    margin-left: 20px;
}.items.list_view p{
    padding-top: 15px ;
    color: #808080;
}.items.list_view{
    
}
/* grid_view */
.items_card{
    margin-bottom:20px
}.items.grid_view .card{
    width:100% !important;
    position:absolute
}.items.grid_view .items_card img{
    float:left;
    width:200px;
    margin-right:10px
}.items.grid_view .items_card .items_card_body{
    padding: 10px;
    width: 100%;
}.clear_fixe{
    clear:both
}

/* End list_view */
/* Start error_massage */
.error_massage{
    position:fixed;
    top:90px;
    right:-530px;
    z-index:9999;
    min-width: 458px;
    text-align: center;
}.error_massage .alert-danger{
    color: #721c24;
    font-size: 22px;
}
/* End error_massage */
/* Start change_Color */
.change_Color ul li{
    width:22px;
    height:22px;
    display:inline-block
}.change_Color li[data-color="red"]{
    background-color:red
}.change_Color li[data-color="green"]{
    background-color:green
}.change_Color li[data-color="blue"]{
    background-color:blue
}
/* )))))))))))))))) */
body[data-default-color="red"] .skin_color{
    background-color:red
}body[data-default-color="green"] .skin_color{
    background-color:green
}body[data-default-color="blue"] .skin_color{
    background-color:blue
}
/* End change_Color */
.about_us,
.Services{
    height:3000px
}
/* poup_up */
.poup_up{
    position: fixed;
    background-color: rgba(197, 197, 197, 0.8);
    z-index: 9999;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    display:none;
}.poup_up .inner_box{
    position: fixed;
    width: 400px;
    height: 300px;
    margin-top: -150px;
    left: 50%;
    margin-left: -200px;
    top: 50%;
    background-color: #747474;
    padding: 22px 10px;
    color: #6b6b6b;
    border: 2px solid #fff;
    border-radius: 6px;
    overflow:hidden;
}.poup_up .inner_box h3{
    color: #fff;
    font-size: 22px;
}.poup_up .inner_box p{
    font-size: 16px;
    color: #f7f7f7;
}.poup_up .inner_box button{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
/* poup_up */
/* Start csroll_to_top */
.csroll_to_top{
    position:fixed;
    bottom:20px;
    right:20px;
    border-radius:20px;
    cursor:pointer;
    display:none;
    width: 38px;
    height: 40px;
    text-align: center;
    line-height: 45px;
}.csroll_to_top svg{
    color:#333;
    font-size:25px
    
}
/* End csroll_to_top */
/* progress */
.progress{
    margin:70px 20px;
    height:30px
}
/* End progress */
/* button_effect */
.effect_from_top{
    background-color:#205f11;
}
.button_effect{
    margin: 10px;
    overflow:hidden;
    min-width: 129px;
    position:relative
}.button_effect span{
    left:0;
    top:0;
}.button_effect.effect_from_left span:first-child{
    width:0;
    height:100%;
    display:block
}.button_effect.effect_from_top span:first-child{
    width:100%;
    height:0%;
}button[class*='effect_'] span:first-child{
    opacity:0.6;
    position: absolute;
}.effect_border_from_left span:first-child{
    height:3px;
    width:0
}.effect_border_from_top span:first-child{
    height:0;
    width:3px
}
/* button_effect */

/* Start Forms */
.form_controll form .form-group small.text-muted{
    display:none;
    color:rgb(226, 99, 99) !important;
    height:22px
}.form_controll form .form-group{
    position: relative;
}.form_controll form .form-group input[type="file"]{
    opacity:0;
    z-index:3;
    position:absolute;
    top:0;
    left:0;
    height: 100%;
    cursor: pointer
}.form_controll form .form-group .custom_file{
    background-color:#ccc;
    position:relative;
    height:47px;
    border-radius:3px;
}.form_controll form .form-group .custom_file span{
    display:inline-block;
    padding: 11px 17px;
}.form_controll form .form-group .custom_file svg{
    position:absolute;
    top:15px;
    right:10px
}.form_controll form .form-group .tags span{
    display: inline-block;
    padding: 2px 10px;
    margin: 9px 3px;
    background-color: #dcdcdc;
    border-radius: 2px;
}.form_controll form .form-group .tags span svg{
    margin-right: 9px;
    color: #888;
    cursor: pointer;
}.form_controll form .form-group .tags span svg:hover{
    color:#000
}
/* End Forms */
/* button_effects */
.button_effects{
    margin:22px
}.button_effects [class*="button_boun"]{
    margin-left:22px;
    position:relative
}
.height_div{
    display:inline-block;
    width:300px;
    background-color:#ccc
}
/* toDo_list */
.new_section{
    padding:100px 0;
    background-color:#ccc
}
.toDo_list{
    margin:22px auto;
    width:400px;
    background-color:#fff;
    border: 2px solid #a5a3a3;
    border-bottom:0
}.toDo_list h3{
    background-color: #dcdcdc;
    padding: 20px;
    color: #696565;
    border-bottom: 1px solid #333;
}.toDo_list ul {
    list-style-type:none;
    margin:0
}.toDo_list ul li {
    padding: 10px 0;
    border-bottom: 1px solid #ededed;
    color: #846565;
    padding: 10px 18px;
    font-size: 19px;
}.toDo_list ul  {
    padding: 0;
   
}.toDo_list .addTask input{
    border-radius:0;
    font-size: 19px;
    min-height:60px

}
/*  */

.change_content{
    margin:22px auto;
    width:400px;
    background-color:#fff;
    border: 2px solid #a5a3a3;
    border-bottom:0
}.change_content h3{
    background-color: #dcdcdc;
    padding: 20px;
    color: #696565;
    border-bottom: 1px solid #333;
}.change_content ul {
    list-style-type:none;
    margin:0
}.change_content ul li {
    padding: 10px 0;
    border-bottom: 1px solid #ededed;
    color: #846565;
    padding: 10px 18px;
    font-size: 19px;
    
}.change_content ul li:not(.active){
    display:none
}.change_content ul  {
    padding: 0;
}.change_content{

}